export(blastn)
export(blastn_short)
export(blastp)
export(blastp_short)
export(blastx)
export(dc_megablast)
export(displayHTML)
export(getAccn)
export(getBitscore)
export(getDesc)
export(getEvalue)
export(getHitFrame)
export(getHitRange)
export(getHitSeq)
export(getId)
export(getQueryRange)
export(getQuerySeq)
export(hits)
export(makeblasttdb)
export(megablast)
export(parseBlastTabular)
export(parseBlastXml)
export(qblast)
export(query)
export(tblastn)
export(tblastx)
exportClasses(blastReport)
exportClasses(blastTable)
exportMethods(getAccn)
exportMethods(getBitscore)
exportMethods(getDesc)
exportMethods(getEvalue)
exportMethods(getHitFrame)
exportMethods(getHitRange)
exportMethods(getHitSeq)
exportMethods(getId)
exportMethods(getQueryRange)
exportMethods(getQuerySeq)
exportMethods(hits)
exportMethods(index)
exportMethods(query)
import(XML)
import(methods)
import(rmisc)
importFrom(Biostrings,BString)
importFrom(Biostrings,BStringSet)
importFrom(Biostrings,readDNAMultipleAlignment)
importFrom(Biostrings,readDNAStringSet)
importFrom(Biostrings,reverseComplement)
importFrom(Biostrings,translate)
importFrom(Biostrings,writeXStringSet)
importFrom(RCurl,getForm)
importFrom(ape,read.dna)
importFrom(ape,write.dna)
importFrom(biofiles,index)
importFrom(biofiles,qualif)
importFrom(biofiles,sequence)
importFrom(biofiles,strand)
importFrom(rmisc,xname)
importFrom(rmisc,xvalue)
importFrom(stringr,perl)
importFrom(stringr,str_detect)
importFrom(stringr,str_extract_all)
importFrom(stringr,str_match)
importFrom(stringr,str_split_fixed)
