export(blastn)
export(blastn_short)
export(blastp)
export(blastp_short)
export(blastx)
export(dc_megablast)
export(displayHTML)
export(getAccn)
export(getBitscore)
export(getDesc)
export(getEvalue)
export(getHitFrame)
export(getHitRange)
export(getHitSeq)
export(getId)
export(getQueryRange)
export(getQuerySeq)
export(hits)
export(makeblasttdb)
export(megablast)
export(parseBlastTabular)
export(parseBlastXml)
export(parseDeflines)
export(qblast)
export(tblastn)
export(tblastx)
exportClasses(blastReport)
exportClasses(blastTable)
exportMethods("$")
exportMethods("[")
exportMethods("[[")
exportMethods(getAccn)
exportMethods(getBitscore)
exportMethods(getDesc)
exportMethods(getEvalue)
exportMethods(getHitFrame)
exportMethods(getHitRange)
exportMethods(getHitSeq)
exportMethods(getId)
exportMethods(getQueryRange)
exportMethods(getQuerySeq)
exportMethods(hits)
exportMethods(names)
exportMethods(show)
import(XML)
import(biofiles)
import(stringr)
importFrom(Biostrings,BString)
importFrom(Biostrings,BStringSet)
