export(blastn)
export(blastn_short)
export(blastp)
export(blastp_short)
export(blastx)
exportClasses(blastReport)
exportClasses(blastReportDB)
exportClasses(blastTable)
export(dc_megablast)
export(displayHTML)
export(makeblasttdb)
export(megablast)
exportMethods(getAccn)
exportMethods(getAlignLen)
exportMethods(getBitscore)
exportMethods(getDesc)
exportMethods(getEvalue)
exportMethods(getGaps)
exportMethods(getGeneID)
exportMethods(getHitCov)
exportMethods(getHitDef)
exportMethods(getHitEnd)
exportMethods(getHitFrame)
exportMethods(getHitID)
exportMethods(getHitLen)
exportMethods(getHitNum)
exportMethods(getHitRange)
exportMethods(getHitSeq)
exportMethods(getHitStart)
exportMethods(getHSeq)
exportMethods(getHspHitID)
exportMethods(getHspID)
exportMethods(getHspNum)
exportMethods(getId)
exportMethods(getIdentity)
exportMethods(getMidline)
exportMethods(getPercIdent)
exportMethods(getPositive)
exportMethods(getQSeq)
exportMethods(getQueryCov)
exportMethods(getQueryDef)
exportMethods(getQueryEnd)
exportMethods(getQueryFrame)
exportMethods(getQueryLen)
exportMethods(getQueryRange)
exportMethods(getQuerySeq)
exportMethods(getQueryStart)
exportMethods(getScore)
exportMethods(hits)
exportMethods(index)
exportMethods(query)
export(parseBlastTabular)
export(parseBlastToDB)
export(parseBlastXml)
export(qblast)
export(tblastn)
export(tblastx)
importFrom(ape,read.dna)
importFrom(ape,write.dna)
importFrom(assertthat,assert_that)
importFrom(assertthat,has_extension)
importFrom(assertthat,is.readable)
importFrom(biofiles,index)
importFrom(biofiles,qualif)
importFrom(biofiles,sequence)
importFrom(biofiles,strand)
importFrom(Biostrings,BString)
importFrom(Biostrings,BStringSet)
importFrom(Biostrings,readDNAMultipleAlignment)
importFrom(Biostrings,readDNAStringSet)
importFrom(Biostrings,reverseComplement)
importFrom(Biostrings,toString)
importFrom(Biostrings,translate)
importFrom(Biostrings,writeXStringSet)
importFrom(IRanges,IRanges)
importFrom(IRanges,RangedData)
importFrom(RCurl,getForm)
importFrom(rmisc,Curry)
importFrom(rmisc,db_bulk_insert)
importFrom(rmisc,db_connect)
importFrom(rmisc,db_create)
importFrom(rmisc,"%has_tables%")
importFrom(rmisc,linebreak)
importFrom(rmisc,merge_list)
importFrom(rmisc,pad)
importFrom(rmisc,strsplitN)
importFrom(rmisc,SysCall)
importFrom(rmisc,xname)
importFrom(rmisc,xsize)
importFrom(rmisc,xvalue)
importFrom(RSQLite,dbListFields)
importFrom(stringr,perl)
importFrom(stringr,str_detect)
importFrom(stringr,str_extract_all)
importFrom(stringr,str_match)
importFrom(stringr,str_split_fixed)
importFrom(XML,getNodeSet)
importFrom(XML,htmlParse)
importFrom(XML,xmlDoc)
importFrom(XML,xmlEventParse)
importFrom(XML,xmlParse)
importFrom(XML,xmlRoot)
importFrom(XML,xmlStopParser)
importFrom(XML,xmlValue)
importFrom(XML,xpathApply)
import(methods)
